@{
    ViewBag.Title = "Vistor Table Page";
}
<div class="text-center">
    <h1>Dixie Adoptables</h1>
    <p>Visitor Log</p>
</div>




<div class="row">
    <a href="@Url.Action("Add","Vistor")" class="btn btn-success" aria-label="Add Le">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New FAQ
    </a>
    <br />
    <br />
    <table class="table table-striped">
        <tr class="tableHeader">
            <th>Delete</th>
            <th>Edit</th>
            <th>Date</th>
            <th>Name</th>
            <th>D.L#</th>
            <th>Time In</th>
            <th>Time Out</th>
        </tr>
        @foreach (var v in Model)
        {
            string vistorRowId = $"vistorRow{v.DLID}";
            <tr id="@vistorRowId">
                <th>
                    <button type="button" class="btn btn-danger" aria-label="Remove FAQ" onclick="removeFAQ('@v.DLID')">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </th>
                <th>
                    <a href="@Url.Action("Edit","FAQ", new { id = v.DLID })" type="button" class="btn btn-primary" aria-label="Edit FAQ">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </th>
                <th>@v.Name</th>
                <th>@v.DLID</th>
                <th>@v.TimeIn</th>
                <th>@v.TimeOut</th>
            </tr>
        }
    </table>
</div>